<p><b>mayank is great</b></p>
    <% if false %>
        <%= javascript_include_tag "script" %> 
        <%= javascript_include_tag "script", "test_script_1" %> 
        <%= javascript_include_tag "test_script_1" %> 
        <%= stylesheet_link_tag "books" %> 
    <% end %>
<%= yield %>
<p><b>yes</b></p>